<!DOCTYPE HTML>
 <html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>Portal Salvus</title>
	<link href="css/style.css" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:600&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
	 <header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#"><img src="http://www.salvus.me/img/logo-salvus.png" class="d-inline-block align-top" alt="Portal Salvus"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="#"  data-toggle="modal" data-target="#cadastroModal">Cadastrar-se<span class="sr-only">(Página atual)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#" >Entrar</a>
				</li>
				</ul>
			</div>
			</nav>
			<div class="jumbotron jumbotron-fluid" style="background-image: url(./img/apre.png);">
                <div class="container" >
                    <div class="card col-5" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Login</h5>
                                <form action="">
                                    <div class="form-group">
                                        <input class="form-control" type="email" id="emailLogin" name="emailLogin" placeholder="nome@email.com"/><br>
                                        <input  class="form-control" type="password" name="senhaLogin" id="senhaLogin" placeholder="*********"/><br>
                                        <input  type="submit" href="#" class="btn btn-primary" value="Entrar">
                                    </div>
                                </form>
                            </div>
                    </div>
                </div>
			</div>
	</header>
	<!-- Modal de Cadastro-->
	<div class="modal fade" id="cadastroModal" tabindex="-1" role="dialog" aria-labelledby="cadastroModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title" id="cadastroModalLabel">Cadastrar-se</h5>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="modal-body">
				  <form action="">
						<div class="form-group">
							<h5>Escolha o tipo de Usuário:</h5>
							<button type="button" class="btn btn-primary" id="medicoCadastro">Médico</button>
							<button type="button" class="btn btn-success" id="pacienteCadastro">Paciente</button>
						</div>
						<div class="form-group">

							<h5>Dados Gerais</h5>
							<label for="nomeCadastro">Nome Completo</label>
							<input type="text" class="form-control" id="nomeCadastro" name="nomeCadastro"  placeholder="Nome Completo" required><br>
							<label for="emailCadastro">Email</label>
							<input type="email" class="form-control" id="emailCadastro" name="emailCadastro" placeholder="nome@exemplo.com" required><br>
							<label for="cpfCadastro">CPF</label>
							<input type="text" class="form-control" id="cpfCadastro" name="cpfCadastro" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" placeholder="000.000.000-00" required/><br>
							<label for="telefoneCadastro">Telefone</label>
							<input type="text" class="form-control" id="telefoneCadastro" name="telefoneCadastro" required/>
						</div>
						<div class="form-group">
							<h5>Endereço</h5>
							<label for="cepCadastro">Cep</label>
							<input type="text" class="form-control" id="cepCadastro" name="cepCadastro" pattern="\d{5}\-\d{2}" required/><br>
							<label for="ruaCadastro">Rua</label>  
                            <input type="text" class="form-control" id="ruaCadastro" name="ruaCadastro" required /><br>
							<label for="complementoCadastro">Completo</label>
							<input type="text" class="form-control" id="complementoCadastro" name="complementoCadastro" required/><br>
							<label for="bairroCadastro">Bairro</label>
							<input type="text" class="form-control" id="bairroCadastro" name="bairroCadastro" required><br>
							<label for="cidadeCadastro">Cidade</label>
							<input type="text" class="form-control" id="cidadeCadastro" name="cidadeCadastro" required><br>
							<label for="estadoCadastro">Estado</label>
							<input type="text" class="form-control" id="estadoCadastro" name="estadoCadastro" required><br>
						</div>
						<div class="form-group">
							<h5>Plano de Saúde</h5>
							<select class="custom-select" required>
									<option selected>Selecione seu Plano de Saúde</option>
									<option value="HapVida">HapVida</option>
									<option value="HGU Saúde PE">HGU Saúde PE</option>
									<option value="Unimed | Vale do São Francisco">Unimed | Vale do São Francisco</option>
									<option value="Unimed Recife">Unimed Recife </option>
									<option value="Amil Empresarial">Amil Empresarial</option>
									<option value="Plano Não Cadastrado no Sistema">Nenhum dos Citados Acima</option>
									<option value="Nenhum">Não tenho</option>
							</select>
						</div>
						<div class="form-group">
							<h5>Home Care</h5>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="Sim" id="cadastroHomeCareSim">
								<label class="form-check-label" for="cadastroHomeCareSim">
							    	Sim
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="Sim" id="cadastroHomeCareSim">
								<label class="form-check-label" for="cadastroHomeCareSim">
							    	Não
								</label>
							</div>
						</div>
				  </form>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				  <button type="button" class="btn btn-primary">Enviar</button>
				</div>
			  </div>
			</div>
	</div>

	<footer>
		<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<h2 class="display-6">SOMOS A SALVUS</h2>
					<p>Conectamos a saúde com inteligência para melhorar a vida das pessoas</p>
				</div>
				<div class="col-sm">
					<h2 class="display-6">RECURSOS</h2>
					<ul class="menu">
								<li>
									<a href="http://salvus.me/blog" target="_blank">Blog</a>
								</li>
									   
								<li>
									<a>Notícias</a>
								</li>
									   
								<li>
									<a href="https://www.youtube.com/channel/UCBfxxnAa9AZcz_ZKeR_P9mQ" target="_blank">Vídeos</a>
								</li>
									   
								<li>
									<a>Suporte</a>
								</li>
		
								<li>
									<a href="http://www.salvus.me/blog/category/eventos/" target="_blank">Eventos</a>
								</li>
		
								<li>
									<a href="http://atas.salvus.me">Login</a>
								</li>
					</ul>
				</div>
				<div class="col-sm">
					<h2 class="display-6">INSTITUCIONAL</h2>
					<ul class="menu">
							<span>Institucional</span>       
								<li>
									<a>Visão</a>
								</li>
								<li>
									<a href="#team">Equipe</a>
								</li> 
								<li>
									<a href="#parceiros">Parceiros</a>
								</li>
								<li>
									<a>Clientes</a>
								</li> 
								<li>
									<a href="http://salvus.me/contato.html">Contato</a>
								</li> 
					</ul>
				</div>
				<div class="col-sm">
					<h2 class="display-6">LOCALIZAÇÃO</h2>
					<p>Rua do Apolo, 235 - Sala Jump Aceleradora Porto Digital, Recife Antigo - Recife/PE</p>
				</div>
			</div>
		</div>
		</div>	
	</footer>
</body>
</html>